@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Zodiak';
    src: url(./fonts/Zodiak-Regular.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf);
}